form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% auto;
    width: 50%;
    line-height: 1.5;
    font-size: 2rem;

    @media(@tablet){
        width: 100%;
        margin: 5% auto;
    }

    @media(@mobile){
        width: 100%;
        margin: 5% auto;
    }

    label{
        padding-top: 5%;
    }
    input[type="reset"] {

    .btn();
    
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 5%;
        border: 1px solid @bg-color;
        border-radius: 10px; 
        box-sizing: border-box;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.28);
    
    }
    textarea{
        height: 10vh;
    }
}