//color pallette
@main-color: #0B2027;
@accent-color: #10726A;
@lightgrey: #D3d3d3;
@white: #ffffff;
@turquoise:#44ffee;
@webapp-nav-bg: #183c56;
@dark-font: #212529;
@webapp-bg: #cce2ff;
//colors
@bg-color: @white;
@font-color: @dark-font;
@nav-font-color: @white;
@nav-bg-color: @webapp-nav-bg;
//responsive design
@mobile: ~"max-width: 500px";
@tablet: ~"max-width: 800px";